<html>
    <head>
        <meta charset="UTF-8"/>
        <link type="text/css" href="/bootstrap.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/helloworld.js"></script>
    </head>
    <body>
        <nav data-th-replace="menu :: msgmenu"></nav>
        <div class="container">


            Kérem adja meg a nevét: <input id="nameofplayer" type="text"><br>
            Kérem adja meg az első számot: <input id="numberoneinput" type="text"><br>
            Kérem adja meg a második számot: <input id="numbertwoinput" type="text"><br>
            Kérem adja meg a harmadik számot: <input id="numberthreeinput" type="text"><br>
            Kérem adja meg a negyedik számot: <input id="numberfourinput" type="text"><br>
            Kérem adja meg az ötödik számot: <input id="numberfiveinput" type="text"><br>
            <input type="submit" id="submithello" class="btn btn-primary" value="Küldés">

        </div>
    </body>
</html>
